@import "~react-image-gallery/styles/css/image-gallery.css";

.design-categories {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    /* letter-spacing: 10px; */
}

.design-category {
    background-color: var(--light-green);
    border-radius: 15px;
    border: none;
    text-decoration: none;
    color: var(--med-green);
    padding: 20px;
    margin-bottom: 5px; 
    width: 200px;
}

.design-category:last-child {
    margin-bottom: 0; 
}

.design-category:hover {
    background-color: var(--med-orange);
    color: var(--med-green);
}

.image-gallery img {
height: 750px!important;
}