@import '../../../App.css';

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    /* margin: -10 auto; */
    box-sizing: border-box;
    /* background-color: #ffffff50; */
}

.home-container > div {
    flex: 1;
    margin: 75px 100px;
    padding: 25px 150px;
}

.home-headshot {
    text-align: right;
}

.circle-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

p.home-blurb {
    font-weight: bold;
}

.home-blurb h2,
.home-blurb h3,
.home-blurb p {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.home-blurb h2 {
    font-size: 34px;
    font-weight: bold;
    color: var(--main-green);
}

.home-blurb h3 {
    font-size: 26px;
    font-weight: 400;
    color: var(--med-green);
    margin-top: -10px;
}

.home-blurb p {
    font-size: 22px;
    color: var(--darkest-green);
    font-weight: 400;
}

.resume{
    background-color: var(--med-orange);
    border-radius: 15px;
    text-decoration: none;
    color: var(--white);
    padding: 10px;
}

.resume:hover{
    background-color: var(--light-green);
    color: var(--med-green);

}
@media screen and (max-width: 768px) {
    .home-container {
        flex-direction: column;
        padding: 50px 50px 80px 50px;
        max-width: 100%;
        
        /* text-align: center; */
    }

    .home-container > div {
        width: 100%;
        padding: 10px;
        margin-bottom: 0px;
    }
    
    .home-blurb {
        padding: 20px;
    }
}
