/* UserInterfaceCard.css */
.ui-card {
  background-color: var(--white);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  height: 500px; /* Set a fixed height for all cards */
  overflow: hidden; /* Hide overflowing content */
}

.ui-card-image {
  flex-shrink: 0;
  width: 30%; /* Adjust as needed */
  height: 100%; /* Make the image fill the fixed card height */
}

.ui-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 15px;
}

.ui-card-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ui-card h2,
.ui-card h3 {
  margin: 0;
  font-weight: bold;
}

.ui-card p {
  margin: 0;
  padding-bottom: 8px;
}
