/* Digital.css */
.digital {
  background-color: var(--light-beige);
  padding: 60px; /* Add padding for better appearance */
  text-align: center;
}

.digital h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.digital-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); /* Adjust the card width as needed */
  grid-gap: 30px; /* Adjust the gap between cards as needed */
  justify-items: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  justify-content: center; /* Center the grid horizontally within the container */
  padding: 30px;
  grid-auto-rows: 1fr; /* Adjust the row sizing to create flexible layout */
}